# Database configurations
DATABASE_URL=postgresql://user:password@endpoint.neon.tech/neondb?sslmode=require

# Better Auth configurations
BETTER_AUTH_SECRET=your_secret_here
BETTER_AUTH_URL=http://localhost:3000
